<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>yote</title>
</head>
<body>
  <header>
    <h1>The Quote Database!</h1>
  </header>

  <main>

    <section>
      <div>
        <h2>Add A Quote!</h2>
        <p>Enter the quote and it's author below</p>
        <form action="/quotes" method="POST">
          <input type="text" placeholder="Author" name="name">
          <input type="text" placeholder="Quote" name="quote">
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>

    <section>
      <div>
        <h2>Replace A Quote!</h2>
        <p>Enter the author who's quote you want to change then provide a replacement author and quote. If no such author exists your replacement author and quote will be added!</p>
        <div>
          <input id="updateTarget" type="text" placeholder="Author you want to change" name="updateTarget">
        </div>
        <div>
          <input id="replacementAuthor" type="text" placeholder="Replacement Author" name="replacementAuthor">
          <input id="replacementQuote" type="text" placeholder="Replacement Quote" name="replacementQuote">
        </div>
        <button id="update-button">Replace Author's Quote</button>
      </div>
    </section>

    <section>
      <div>
        <h2>Delete A Quote!</h2>
        <p>Enter a quote author below to delete one of their quotes.</p>
        <input id="deletionTarget" type="text" placeholder="Enter author to delete" name="deletionTarget">
        <button id="delete-button">Remove Darth Vader quote</button>
        <p id="message"></p>
      </div>
    </section>

    <section>
      <div>
        <h2>The Quotes List!</h2>
        <ul class="quotes">
          <!-- Loop through quotes -->
          <% for(var i = 0; i < quotes.length; i++) {%>
          <li class="quote">
            <!-- Output name from the iterated quote object -->
            <span><%= quotes[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quotes[i].quote %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </section>

  </main>
  
  <script src="/main.js"></script>
</body>
</html>